@import "utility.css";

header {
  padding: 0;
  margin: 0;
}

header .header-top {
  background-color: var(--primary-color);
  padding: 16px 0;
  margin: 0;
  border-bottom: 1px solid #406354;
}

header .header-top .announcement {
  text-align: center;
  padding: 0;
  margin: 0;
}

header .header-top .announcement marquee {
  font-family: var(--title-font);
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

header .header-bottom {
  padding: 20px 0;
  background-color: var(--primary-color);
}

header .header-bottom .logo-block {
  width: 20%;
}

header .header-bottom .primary-menu {
  width: 68%;
  padding: 0;
  margin: 0;
}

header .header-bottom .primary-menu ul {
  gap: 40px;
  padding: 0;
  margin: 0;
}

header .header-bottom .primary-menu ul li {
  padding: 0;
  margin: 0;
}

header .header-bottom .primary-menu ul li a {
  font-family: var(--body-font);
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
  font-weight: 700;
  padding: 0;
  margin: 0;
  position: relative;
  transition: var(--effect);
}

header .header-bottom .primary-menu ul li.active a {
  color: var(--accent-color);
}

header .header-bottom .primary-menu ul li a:hover {
  color: var(--accent-color);
}

header .header-bottom .primary-menu ul li.active a::after {
  content: "";
  width: 0;
  height: 0;
  background-color: transparent;
  position: absolute;
  left: 50%;
  bottom: -34px;
  transform: translateX(-50%);
  border-top: 5px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid var(--accent-color);
  border-left: 10px solid transparent;
  transition: var(--effect);
}

header .header-bottom .primary-menu ul li a::after {
  content: "";
  width: 0;
  height: 0;
  background-color: transparent;
  position: absolute;
  left: 50%;
  bottom: -34px;
  transform: translateX(-50%);
  border-top: 5px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 10px solid transparent;
  transition: var(--effect);
}

header .header-bottom .primary-menu ul li:last-child {
  margin-left: auto;
}

header .header-bottom .primary-menu ul li a:hover::after {
  color: var(--accent-color);
  content: "";
  width: 0;
  height: 0;
  background-color: transparent;
  position: absolute;
  left: 50%;
  bottom: -34px;
  transform: translateX(-50%);
  border-top: 5px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid var(--accent-color);
  border-left: 10px solid transparent;
}

header .header-bottom .primary-menu ul li button {
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.27);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: var(--body-font);
  font-size: 16px;
  color: var(--primary-color);
  line-height: 1.3;
  font-weight: 700;
}

header .header-bottom .primary-menu ul li button:hover,
header .header-bottom .primary-menu ul li button:active {
  scale: 0.98;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.27);
}

/* BANNER START */

.banner {
  background-image: linear-gradient(
      169deg,
      rgba(0, 0, 0, 0.4766281512605042) 0%,
      rgba(0, 0, 0, 0.8463760504201681) 100%
    ),
    url(../images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 147px);
  position: relative;
}

.banner .title-block {
  width: 50%;
  padding: 80px 0 0 0;
  margin: 0;
}

.banner .title-block h1 {
  font-family: var(--title-font);
  font-size: 20px;
  color: #fff;
  line-height: 1.3;
  font-weight: 600;
  padding: 0;
  margin: 0 0 50px 0;
  position: relative;
}

.banner .title-block h1::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #fff;
  bottom: 13px;
  right: 56px;
  opacity: 0.3;
}

.banner .title-block h2 {
  font-family: var(--body-font);
  font-size: 60px;
  color: #fff;
  line-height: 1.3;
  font-weight: 800;
  padding: 0;
  margin: 0 0 50px 0;
}

.banner .title-block button {
  border: none;
  background-color: var(--primary-color);
  padding: 15px 15px 15px 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: var(--body-font);
  font-size: 24px;
  color: var(--accent-color);
  line-height: 1.3;
  font-weight: 700;
  margin: 0 50px 0 0;
  position: relative;
}

.banner .title-block button img {
  width: 30px;
  margin: 0 0 0 30px;
}

.banner .title-block button::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #0b4a36;
  right: 70px;
  top: 0;
}

/* BANNER END */
/* FORM START */

.form-group {
  width: 446px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  position: absolute;
  right: 220px;
  bottom: -155px;
  padding: 0;
}

.form-group .title-block {
  padding: 15px 0;
  text-align: center;
  background-color: var(--primary-color);
}

.form-group .title-block h2 {
  font-family: var(--body-font);
  font-size: 26px;
  color: var(--accent-color);
  line-height: 1.3;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.form-group form {
  padding: 30px;
}

.form-group .input-groups {
  margin: 0 0 15px 0;
}

.form-group .input-groups h2 {
  font-family: var(--title-font);
  font-size: 18px;
  color: var(--primary-color);
  line-height: 1.3;
  font-weight: 400;
  padding: 0;
  margin: 0 0 10px 0;
}

.form-group .input-groups .form-control {
  margin: 0 0 20px 0;
  font-family: var(--title-font);
  font-size: 16px;
  color: var(--primary-color);
  line-height: 1.3;
  font-weight: 400;
  text-transform: capitalize;
  padding: 15px 20px;
  box-shadow: var(--box-shadow);
}

.form-group .input-groups .form-control:focus {
  border: 1px solid var(--primary-color);
  box-shadow: none;
}

.form-group .input-groups .form-control:last-child {
  margin: 0 0 0 0;
}

.form-group .input-groups .btn {
  font-family: var(--body-font);
  font-size: 16px;
  color: var(--accent-color);
  line-height: 1.3;
  font-weight: 400;
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
  padding: 17px 0;
  margin: 20px 0 0 0;
  background: rgb(19, 94, 70);
  background: linear-gradient(
    0deg,
    rgba(19, 94, 70, 1) 0%,
    rgba(26, 111, 84, 1) 100%
  );
  transition: var(--effect);
}

.form-group .input-groups .btn:hover {
  animation: shine 0.3s ease 1 forwards;
}

@keyframes shine {
  0% {
    background: linear-gradient(
      0deg,
      rgba(19, 94, 70, 1) 0%,
      rgba(26, 111, 84, 1) 100%
    );
  }

  100% {
    background: linear-gradient(
      180deg,
      rgba(19, 94, 70, 1) 0%,
      rgba(26, 111, 84, 1) 100%
    );
  }
}

/* FORM END */

/* ABOUT START */

.about-block {
  padding: 0;
  margin: 0;
}

.about-block .title-block {
  padding: 60px 0 0 0;
  margin: 0;
}

.about-block .title-block h3 {
  font-family: var(--title-font);
  font-size: 20px;
  color: #000;
  line-height: 1.3;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.about-block .title-block h2 {
  font-family: var(--body-font);
  font-size: 35px;
  color: var(--primary-color);
  line-height: 1.3;
  font-weight: 800;
  padding: 0;
  margin: 0 0 30px 0;
}

.about-block .title-block p {
  font-family: var(--title-font);
  font-size: 16px;
  color: var(--primary-color);
  line-height: 1.4;
  font-weight: 400;
  padding: 0;
  margin: 0 0 20px 0;
}

.about-block .title-block button {
  font-family: var(--body-font);
  font-size: 24px;
  color: #fff;
  line-height: 1.4;
  font-weight: 400;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 15px 35px;
  margin: 30px 0 0 0;
}

/* ABOUT END */

/* OUR SPECIAL PACKAGES START */

.package-block {
  padding: 70px 0;
  background-color: #d0d0d0;
}

/*.package-block .title-block{
  text-align: center;
}

.package-block .title-block h2{
  font-family: var(--body-font);
  font-size: 40px;
  color: var(--primary-color);
  line-height: 1.4;
  font-weight: 800;
  padding: 0;
  margin: 0 0 50px 0;
}
*/

.package-block .package-box {
  background-color: #fff;
  border-radius: 6px;
  border: none;
  box-shadow: var(--box-shadow);
  position: relative;
}

.package-block .package-box .image-block {
  padding: 0;
  margin: 0;
}

.package-block .package-box .image-block img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
  width: 100%;
}

.package-block .package-box .round-block {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  isolation: isolate;
}

.package-block .package-box .round-block::before {
  content: "";
  position: absolute;
  left: -10%;
  top: 0;
  width: 15px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.09);
  transform: skewX(10deg);
  z-index: -1;
  animation: shine 1s ease-in-out infinite forwards;
}

@keyframes shine {
  0% {
    left: -10%;
  }

  100% {
    left: 110%;
  }
}

.package-block .package-box .round-block h2 {
  font-family: var(--title-font);
  font-size: 14px;
  color: var(--accent-color);
  line-height: 1;
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.package-block .package-box .round-block h2 strong {
  font-size: 19px;
}

.package-block .package-box .round-block h2 sup {
  font-size: 12px;
}

.package-block .package-box .title-block {
  padding: 20px;
}

.package-block .package-box .title-block h2 {
  font-family: var(--body-font);
  font-size: 22px;
  color: var(--primary-color);
  line-height: 1.4;
  font-weight: 600;
}

.package-block .package-box .title-block p {
  font-family: var(--body-font);
  font-size: 18px;
  color: #000;
  line-height: 1.4;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.package-block .package-box .title-block button {
  font-family: var(--body-font);
  font-size: 14px;
  color: var(--primary-color);
  line-height: 1.4;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
}

.package-block .package-box .title-block a {
  font-family: var(--body-font);
  font-size: 14px;
  color: var(--accent-color);
  line-height: 1.4;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: var(--primary-color);
}

/* OUR SPECIAL PACKAGES END */

/* OUR BEST PACKAGES START */

.best-package-section {
  padding: 70px 0 0 0;
}

.best-package-section .title-block {
  text-align: center;
}

.best-package-section .title-block h2 {
  font-family: var(--body-font);
  font-size: 40px;
  color: var(--primary-color);
  line-height: 1.4;
  font-weight: 800;
  padding: 0;
  margin: 0 0 50px 0;
}

.best-package-section .train-package {
  background-color: #fff;
}

.best-package-section .train-package .title-block {
  background-color: var(--primary-color);
  text-align: center;
}

.best-package-section .train-package .title-block h2 {
  font-family: var(--body-font);
  font-size: 25px;
  color: #fff;
  line-height: 1.4;
  font-weight: 600;
  padding: 20px 0;
  margin: 0;
}

.best-package-section .train-package .card-block {
  padding: 0 30px;
}

.best-package-section .train-package .card-block p {
  font-family: var(--body-font);
  font-size: 16px;
  color: #000;
  line-height: 1.4;
  font-weight: 400;
  margin: 30px 0 0 0;
}

.best-package-section .train-package .card-block .package-include {
  padding: 50px 0 0 0;
  margin: 0;
}

.best-package-section .train-package .card-block .package-include h3 {
  font-family: var(--body-font);
  font-size: 18px;
  color: var(--primary-color);
  line-height: 1.4;
  font-weight: 400;
  padding: 0;
  margin: 0 0 30px 0;
}

.best-package-section .train-package .card-block .package-include ul {
  padding: 0;
  margin: 0;
}

.best-package-section .train-package .card-block .package-include ul li {
  background-image: url("../images/check-lg.svg");
  background-size: auto;
  background-repeat: no-repeat;
  font-family: var(--title-font);
  font-size: 16px;
  color: #000;
  line-height: 1;
  font-weight: 400;
  padding: 0 0 0 25px;
  margin: 0 0 20px 0;
}

.best-package-section .train-package .card-block .package-excludes {
  padding: 20px 0 0 0;
  margin: 0;
}

.best-package-section .train-package .card-block .package-excludes h4 {
  font-family: var(--body-font);
  font-size: 18px;
  color: var(--primary-color);
  line-height: 1.3;
  font-weight: 400;
  padding: 0;
  margin: 0 0 20px 0;
}

.best-package-section .train-package .card-block .package-excludes ul {
  padding: 0;
  margin: 0;
}

.best-package-section .train-package .card-block .package-excludes ul li {
  background-image: url("../images/check-lg.svg");
  background-size: auto;
  background-repeat: no-repeat;
  font-family: var(--title-font);
  font-size: 16px;
  color: #000;
  line-height: 1;
  font-weight: 400;
  padding: 0 0 0 25px;
  margin: 0 0 20px 0;
}
.best-package-section .train-package .card-block .cost-block {
  padding: 20px 0 0 0;
}

.best-package-section .train-package .card-block .cost-block h4 {
  font-family: var(--body-font);
  font-size: 18px;
  color: var(--primary-color);
  line-height: 1.3;
  font-weight: 400;
  padding: 0;
  margin: 0 0 20px 0;
}

.best-package-section .train-package .card-block .cost-block .duration h5 {
  font-family: var(--title-font);
  font-size: 16px;
  color: #7c5c41;
  line-height: 1.3;
  font-weight: 400;
  padding: 5px 20px;
  margin: 0 0 10px 0;
  background-color: var(--accent-color);
}

.best-package-section .train-package .card-block .cost-block .duration h6 {
  font-family: var(--title-font);
  font-size: 18px;
  color: var(--primary-color);
  line-height: 1.3;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.best-package-section .train-package .card-block .cost-block .duration ul li {
  font-family: var(--title-font);
  font-size: 16px;
  color: #000;
  line-height: 1.3;
  font-weight: 400;
  padding: 0;
  margin: 0 0 17px 0;
}

.best-package-section .train-package .package-footer {
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: var(--accent-color);
}

.best-package-section .train-package .package-footer p {
  font-family: var(--title-font);
  font-size: 16px;
  color: #88603e;
  line-height: 1.3;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

/* OUR BEST PACKAGES END */
/*SUNDARBAN TRAVEL DIARIES START*/

.diaries-block{
  padding: 70px 0 0 0;
  margin: 0;
}

.diaries-block .title-block{
  text-align: center;
}

.diaries-block .title-block h2 {
  font-family: var(--body-font);
  font-size: 40px;
  color: var(--primary-color);
  line-height: 1.4;
  font-weight: 800;
  padding: 0;
  margin: 0 0 50px 0;
}

.diaries-block .slider-block{
  padding: 0;
  margin: 0;
}

.diaries-block .slider-block .slick-list{
    height: 310px;
}

.diaries-block button.slick-prev.slick-arrow {
    position: absolute;
    bottom: 50%;
    left: -50px;
    z-index: 9;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 22px;
}

.diaries-block button.slick-next.slick-arrow {
    position: absolute;
    bottom: 50%;
    right: -50px;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 22px;
}

.diaries-block ul.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.diaries-block ul.slick-dots li{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--primary-color);
}


.diaries-block ul.slick-dots li.slick-active{
  background-color: var(--primary-color);
}


.diaries-block ul.slick-dots li button{
  display: none;
}


.diaries-block .slider-block .video {
  position: relative;
  margin: 0 10px;
  border-radius: 6px;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.29);
}

.diaries-block .slider-block .video .image-block{
  aspect-ratio: 4/3;
  padding: 0;
  margin: 0;
}
.diaries-block .slider-block .video .image-block img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.diaries-block .slider-block .video .icon-block {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.diaries-block .slider-block .video .icon-block i{
  color: red;
}

/*SUNDARBAN TRAVEL DIARIES END*/

/*GALLERY START*/

.gallery-block{
  padding: 70px 0 0 0;
}

.gallery-block .title-block{
  text-align: center;
}

.gallery-block .title-block h2 {
  font-family: var(--body-font);
  font-size: 40px;
  color: var(--primary-color);
  line-height: 1.4;
  font-weight: 800;
  padding: 0;
  margin: 0 0 50px 0;
}

.gallery-block  .card-block{
  padding: 0;
  margin: 0;
}

.gallery-block  .card-block .image-block{
  height: 200px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  overflow: hidden;
  padding: 0;
  margin: 0 0 30px 0;
  box-shadow: 0px 6px 18px 0px rgb(0 0 0 / 29%);
}

.gallery-block  .card-block .image-block img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-block  .card-block .image-block a{
  display: inline;
}

























/*GALLERY END*/

/*FAQ START*/

.faq-block{
  padding: 70px 0;
  margin: 0;
}

.faq-block .title-block{
  text-align: center;
}

.faq-block .title-block h2 {
  font-family: var(--body-font);
  font-size: 40px;
  color: var(--primary-color);
  line-height: 1.4;
  font-weight: 800;
  padding: 0;
  margin: 0 0 50px 0;
}

.faq-block .accordion .accordion-item .accordion-header .accordion-button{
  font-family: var(--body-font);
  font-size: 24px;
  color: #fff;
  line-height: 1.4;
  font-weight: 600;
  padding: 20px;
  margin: 0;
  background-color: var(--primary-color);
}

.faq-block .accordion-button:focus{
  box-shadow: none;
}

.accordion-button::after {
  background-image: url(../images/faq-bottom-arrow.png);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../images/faq-bottom-arrow.png);
}

/*FAQ END*/

/*FOOTER START*/

footer{
  padding: 0;
  margin: 0;
}

footer .footer-top{
  padding: 65px 0;
  background-color: var(--primary-color);
}

footer .footer-top .block{
  padding: 0;
  margin: 0;
}

footer .footer-top .block .footer-logo{
  padding: 0;
  margin: 0 0 30px 0;
}

footer .footer-top .block address.address-block{
  padding: 0;
  margin: 0;
}

footer .footer-top .block address.address-block p{
  font-family: var(--title-font);
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  font-weight: 400;
  padding: 0;
  margin: 0 0 20px 0;
}

footer .footer-top .block p{
  font-family: var(--title-font);
  font-size: 16px;
  color: var(--accent-color);
  line-height: 1.4;
  font-weight: 400;
  padding: 0;
  margin: 0 0 20px 0;
  gap: 10px;
  display: flex;
  align-items: center;
}

footer .footer-top .block p a{
  font-size: 25px;
  color: var(--accent-color);
  line-height: 1.4;
  font-weight: 400;
  padding: 0;
  margin: 0;

}

footer .footer-top .block h2{
  font-family: var(--body-font);
  font-size: 20px;
  color: var(--accent-color);
  line-height: 1.4;
  font-weight: 600;
  padding: 0;
  margin: 0 0 30px 0;
}

footer .footer-top .block ul li a{
  font-family: var(--title-font);
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

footer .footer-top .block ul li{
  font-family: var(--title-font);
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  font-weight: 400;
  padding: 0;
  margin: 0 0 10px 0;
}

footer .footer-top .block .phone-block ul{
  margin-top: 20px;
}

footer .footer-top .block .phone-block ul li{
  margin-bottom: 25px;
}

footer .footer-top .block .phone-block ul li i{
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--accent-color);
  border-radius: 50%;
  color: #000;
  font-size: calc(var(--size) / 2);
  display: inline-block;
  text-align: center;
  line-height: var(--size);
}


footer .copyright-block{
  padding: 0;
  margin: 0;
}


footer .copyright-block p{
  padding: 30px 0;
  margin: 0;
}



























/*FOOTER END*/