@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap');

:root{
	--body-font: 'Merriweather', serif;
	--title-font: 'Hind Siliguri', sans-serif;
	--primary-color: #135e46;
	--accent-color: #e3c6ad;
	--effect: all 0.3s ease-in-out;
	--box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.13);
}

body{
	font-family: var(--title-font);
	font-size: 16px;
	color: #000;
	line-height: 1.3;
	font-weight: 400;
	padding: 0;
	margin: 0;
	height: 200vh;
	background-color: #ddd;
}

a{
	text-decoration: none;
	display: inline-block;
	color: #000;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}



